<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parallax Demo</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- First Parallax Section -->
    <div class="parallax bgimg-1"></div>

    <!-- Content Section -->
    <div class="content-w">
      <h1>Scroll Down</h1>
      <p>Scroll to see the parallax effect.</p>
    </div>

    <!-- Second Parallax Section -->
    <div class="parallax bgimg-2"></div>

    <!-- Content Section -->
    <div class="content-b">
      <h1>Another Section</h1>
      <p>Enjoy the effect as you scroll.</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        aliquam error, delectus sint, magnam cumque ipsa ad, tenetur repellendus
        repudiandae eaque ipsam accusamus? Commodi, possimus blanditiis deleniti
        iure doloremque officia. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Incidunt quae omnis possimus magni obcaecati aliquam
        voluptatum esse rem asperiores ullam amet quibusdam quas eos
        praesentium, quo itaque deserunt vero molestiae?
      </p>
    </div>

    <!-- Third Parallax Section -->
    <div class="parallax bgimg-3"></div>
  </body>
</html>
